*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    background-image: url("images/background_image.jpg");
    height: 100vh;
    width: 100vw;
    /* background-color: yellow; */
    background-size:cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#time{
    border:1px black solid;
    flex-basis: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#clock{
    flex-basis: 100%;
    flex-shrink: 0;
    text-align: center;
}

#time-value{
    flex-basis: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.value{
    text-align: center;
}

#time-value div{
    border:1px black solid;
}

#time-value > div{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#meridiem{
    display: flex;
}

.value{
    font-size: 44px;
}

